# Default ignored files
/shelf/
/workspace.xml
/inspectionProfiles/Project_Default.xml
/codeStyles/codeStyleConfig.xml
/codeStyles/Project.xml
/inspectionProfiles/ktlint.xml
/inspectionProfiles/profiles_settings.xml
